@import "tailwindcss";

@keyframes floatSlow {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
}

@keyframes floatFast {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-35px); }
}

@keyframes floatMedium {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-24px); }
}

.animate-float-slow {
    animation: floatSlow 8s ease-in-out infinite;
}

.animate-float-fast {
    animation: floatFast 5s ease-in-out infinite;
}

.animate-float-medium {
    animation: floatMedium 6s ease-in-out infinite;
}
